<ul id="articles">
<% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article), class: 'article-title' %>
  
  <% if article.description != '' %>
    <div class="description"><%= article.description %></div>
  <% end %>


<div class='text'>
  <% if article.image.exists? %>
    <p class="image"><%= image_tag article.image.url(:original) %></p>
  <% end %>

  <% if article.body.length > 700 %>
    <%= markdown(truncate(article.body, length: 500, separator: ' ')).html_safe %>
    <%= link_to "keep reading", article_path(article), class: 'link' %>
  <% else %>
    <%= markdown(article.body).html_safe %>
  <% end %> 
</div>

</li>

  <% if article != Article.last %>
    <br><br>
  <% end %>
<% end %>



</ul>

<% if current_user %>
  <%= link_to "create a new article", new_article_path, class: 'link' %>
<% end %>