<body class="info">

<div class='article-title'><%= @article.title %></div>
<div class='description'><%= @article.description %></div>
<br>

<% if @article.image.exists? %>
  <p><%= image_tag @article.image.url(:original) %></p>
<% end %>

<section class='text'>
  <%= markdown(@article.body).html_safe %>
</section>

<% if @article.tags.size > 0 %>
  <p>
    Tags: 
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
      <%= ' ' %>
    <% end %>  
  </p>
<% end %>

<h3>Comments (<%= @article.comments.count %>)</h3>

  <%= render partial: 'comment', collection: @article.comments %>


<%= render partial: 'comments/form' %>




<% if current_user %>
<%= link_to 'delete article', article_path(@article), method: :delete, confirm: "really delete the article" %> |

<%= link_to 'edit article', edit_article_path(@article) %> 
<% end %>

</body>
