<h1><%= @article.title %></h1>
<br>

<p>
  Tags: 
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <%= ' ' %>
  <% end %>  
</p>

<%= @article.body %>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to '<< back to the articles list', articles_path %> |

<%= link_to 'delete article', article_path(@article), method: :delete, confirm: "really delete the article" %> |

<%= link_to 'edit article', edit_article_path(@article) %> 

